html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}


.header {
  height: 60px;
  display: flex;
}

.map-container {
  flex: 1;
  height: 70vh;
  padding: 2rem;
}


.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn > img {
  width: 30px;
}

.popup-img {
  height: 140px;
}

.input-resort {
  font-size: 20px;
}