html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  height: 60px;
  display: flex;
}

.map-container {

  height: 80%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn > img {
  width: 30px;
}

.react-map-gl {
  height:30%;
}

.popup-img {
  height: 250px;
}